{% load static %}

<style type="text/css">
	.chat-dropdown-header{
		color: var(--light-primary-text-color);
		cursor: pointer;
	}
	.scrollable-menu {
		height: auto;
		max-height: 50vh;
		width: max-content;
		overflow-x: hidden;
	}
	#id_general_notifications_container, #id_chat_notifications_container {
		width: 29.3rem;
	}
	.chat-dropdown-header{
		color: var(--light-primary-text-color);
	}
</style>

<!-- Header -->
<div class="d-flex flex-column flex-lg-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<div class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center">
		<h5 class="mr-3 font-weight-normal justify-content-start">
			<a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
		</h5>
		<form class="search-bar justify-content-start" onsubmit="return executeQuery()">
			<input type="text" class="form-control" name="q" id="id_q_large" placeholder="Search">
		</form>
		<div class="d-flex flex-row-reverse flex-grow-1">
			<nav class="">
				{% if request.user.is_authenticated %}
				<div class="dropdown dropleft show p-2">
					<div class="d-flex flex-row">
						<div class="btn-group dropleft">
							<div class="d-flex notifications-icon-container rounded-circle flex-row-reverse mr-3"
								id="id_chat_notification_dropdown_toggle" data-toggle="dropdown">
								<span id="id_chat_notifications_count" class="notify-badge text-danger"></span>
								<span
									class="d-flex material-icons notifications-material-icon m-auto align-items-center">chat</span>
								<div class="dropdown-menu scrollable-menu p-0"
									aria-labelledby="id_chat_notification_dropdown_toggle"
									id="id_chat_notifications_container">
								</div>
							</div>
						</div>
						<div class="btn-group dropleft">
							<div class="d-flex notifications-icon-container rounded-circle flex-row-reverse mr-3"
								id="id_notification_dropdown_toggle" data-toggle="dropdown"
								onclick="setGeneralNotificationsAsSeen()">
								<span id="id_general_notifications_count" class="notify-badge"></span>
								<span
									class="d-flex material-icons notifications-material-icon m-auto align-items-center">notifications</span>
								<div class="dropdown-menu scrollable-menu p-0"
									aria-labelledby="id_notification_dropdown_toggle"
									id="id_general_notifications_container">
								</div>
							</div>
						</div>
						<div class="btn-group dropleft">
							<img class="account-image rounded-circle m-auto d-block dropdown-toggle"
								id="id_profile_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								src="{{ request.user.profile_image.url }}" alt="User Profile Logo" width="40"
								height="40">
							<div class="dropdown-menu" aria-labelledby="id_profile_links">
								<a class="dropdown-item"
									href="{% url 'account:view' user_id=request.user.username %}">Account</a>
								<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							</div>
						</div>
					</div>
				</div>
				{% else %}
				<a class="p-2 text-dark" href="{% url 'login' %}">Login</a>
				<a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
				{% endif %}
			</nav>
		</div>
	</div>
	<div class="d-flex d-md-none flex-column my-auto align-items-center">
		<h5 class="font-weight-normal">
			<a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
		</h5>
		<form class="search-bar justify-content-start" onsubmit="return executeQuery()">
			<input type="text" class="form-control" name="q" id="id_q_small" placeholder="Search">
		</form>
		<div class="d-flex flex-row-reverse flex-grow-1">
			<nav class="">
				{% if request.user.is_authenticated %}
				<div class="dropdown dropleft p-2 mt-2">
					<div class="d-flex flex-row">
						<div class="btn-group dropleft">
							<img class="account-image rounded-circle m-auto d-block dropdown-toggle"
								id="id_profile_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								src="{{ request.user.profile_image.url }}" alt="dummy_image" width="40" height="40">
							<div class="dropdown-menu" aria-labelledby="id_profile_links">
								<a class="dropdown-item"
									href="{% url 'account:view' user_id=request.user.username %}">Account</a>
								<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							</div>
						</div>
					</div>
				</div>
				{% else %}
				<a class="p-2 text-dark" href="{% url 'login' %}">Login</a>
				<a class="btn btn-outline-primary m-2" href="{% url 'register' %}">Register</a>
				{% endif %}
			</nav>
		</div>
	</div>
	<!-- END SMALL SCREENS -->
</div>

{% include 'snippets/general_notifications.html' %}
{% include 'snippets/chat_notifications.html' %}

<script type="text/javascript" lang="javascript">

	const ws_scheme_notification = window.location.protocol === 'https:' ? 'wss' : 'ws';

	const ws_path_notification = `${ws_scheme_notification}://${window.location.host}/`;
	// const ws_path_notification = `${ws_scheme_notification}://${window.location.host}:8001/chat/${room_id}/`;

	const ws_notification = new WebSocket(ws_path_notification);

	ws_notification.onmessage = function(msg) {
		const data = JSON.parse(msg.data);
		console.log("Got Chat Notification : " + data.chat_msg_type);
		console.log("Got Gen Chat Notification : " + data.general_msg_type);
		if(data.general_msg_type == 0) {
			handleGeneralNotificationsData(data["notifications"], data["new_page_number"]);
		}
		if(data.general_msg_type == 1) {
			setGeneralPaginationExhausted();
		}
		if(data.general_msg_type == 2) {
			refreshGeneralNotificationsData(data["notifications"]);
		}
		if(data.general_msg_type == 3) {
			handleNewGeneralNotificationsData(data["notifications"]);
		}
		if(data.general_msg_type == 4) {
			setUnseenGeneralNotificationsCount(data["count"]);
		}
		if(data.general_msg_type == 5) {
			updateGeneralNotificationDiv(data["notification"]);
		}


		if(data.chat_msg_type == 10) {
			handleChatNotificationsData(data["notifications"], data["new_page_number"]);
		}
		if(data.chat_msg_type == 11) {
			setChatPaginationExhaust();
		}
		if(data.chat_msg_type == 13) {
			handleNewChatNotificationsData(data["notifications"]);
		}
		if(data.chat_msg_type == 14) {
			setChatNotificationsCount(data["count"]);
		}
	}

	ws_notification.onopen = function(event) {
		console.log("WS Notification OPENED");
		setupGeneralNotificationsMenu();
		getFirstGeneralNotificationsPage();
		getUnseenGeneralNotificationsCount();

		setupChatNotificationsMenu();
		getFirstChatNotificationsPage();
	}

	ws_notification.onclose = function(event) {
		console.info("WS Notification CLOSED",event);
	}

	ws_notification.onerror = function(event) {
		console.error("WS Notification ERR", event);
	}

	if(ws_notification.readyState == ws_notification.OPEN) {
		console.log("WS Notification OPEN CMP");
	}
	if(ws_notification.readyState == ws_notification.CONNECTING) {
		console.log("WS Notification Conn...");
	}

	function executeQuery() {
		var query = ""
		query = document.getElementById('id_q_small').value;
		if (query == ""){
			query = document.getElementById('id_q_large').value;
		}
	    window.location.replace("{% url 'search' %}?q=" + query);
	    return false;
	}
</script>