{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>ProChat {% block title %}{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
        rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'cropperjs/dist/cropper.min.css' %}">
	<style type="text/css">
		div.main {
			min-height: 100vh;
			height: 100vh;
		}
		#id_loading_spinner {
			position: absolute;
			top: 37%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
		{% include 'snippets/base_css.css' %}
	</style>
	<script type="text/javascript" lang="javascript">
		function displayLoadingSpinner(isdisp) {
			var spinner = document.getElementById('id_loading_spinner').style;
			if (isdisp) {
				spinner.display = "block";
			} else {
				spinner.display = "none";
			}
		}
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.2/markdown-it.min.js" integrity="sha512-ohlWmsCxOu0bph1om5eDL0jm/83eH09fvqLDhiEdiqfDeJbEvz4FSbeY0gLJSVJwQAp0laRhTXbUQG+ZUuifUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/c.min.js" integrity="sha512-9Ge7wPRBM6DUCnE7Citv0pBWqt7hXeX2732053zamwp+11RX6HBQ7DdXRMNZM6VQmnwKXFKBLE7jS0dgWXUPnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/java.min.js" integrity="sha512-sQgzBflUTahXrlGeMqS6Z+ugjLta005qmvARRaCSEJ8aflXe03DNo8VzxCDHGzqAUqe1+iRnLfCP5ivekMZnGA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js" integrity="sha512-H69VMoQ814lKjFuFwLImb4OwoK8Rm8fcvsqZexaxjp/VkJfEnrt5TO7oaOdNlMf/j51QUctfLTe8+rgozW7l2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/css.min.js" integrity="sha512-GviyEru8zf6uSab40SEWf+BGBpa6K9ezNf0WQQ0QfHr2+qQ3zTRgOfurloGH3xiKa4vt6HNCOv9NdEPLbQw1XQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js" integrity="sha512-wW8K3TEH5ZViD4aMPzwPdhXKs/Kb5MAm7qLRd3QliYlHy0u9utSKZsZzqlZAgJ9xxXp81acwnrZVZ8oTfoLG1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/php.min.js" integrity="sha512-3jC1jPxa1EFMDjrszKdUOQ4MwWCVtk+cbhci1HyBf5n1U9Dkd72d3wMVsmC+xDXSnaLFSiBhkjaQO0ESMdnJiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>hljs.highlightAll();</script>
</head>
<body>
	{% include 'snippets/header.html' %}
	<script type="text/javascript" lang="javascript">
		{% include 'snippets/base_js.js' %}
	</script>

	<div class="container" id="id_loading_spinner" style="display: none;">
		<div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
			<div class="spinner-border text-primary" role="status">
				<span class="sr-only">Loading</span>
			</div>
		</div>
	</div>

	<div class="main">
		{% block content %}{% endblock content %}
	</div>

	{% include 'snippets/footer.html' %}

	<script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script type="module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>
</body>
</html>