{% load static %}

<style type="text/css">
    .chat-log {
        min-height: 35rem;
        max-height: 35rem;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        background-color: #fff;
        font-size: 0.9em;
        flex-direction: column-reverse;
    }

    .justify-content-evenly {
        justify-content: space-evenly !important;
    }

    #id_chat_message_input {
        resize: none;
        outline-width: 0px;
        border: 0px transparent solid;
    }

    .profile-image {
        width: 2.1875rem;
        height: 2.1875rem;
    }

    .profile-image:hover,
    .uname-span:hover, .chat-message-input-container > span {
        cursor: pointer;
    }

    .chat-message-input-container {
        border-top: 1px black solid;
    }

    .chat-message-input-container > span {
        border-left: 1px black solid;
    }

    .msg-p {
        white-space: normal;
        -ms-word-break: break-all;
        word-break: break-all;
        width: -webkit-fill-available;
        user-select: none;
        cursor: default;
        min-height: 43.219px;
    }

    .timestamp-span {
        font-weight: 400;
        font-size: 0.8rem;
        color: var(--secondary-text-color);
    }

    .timestamp-span:hover, .connected-user-icon:hover, .card-header {
        cursor: default;
    }

</style>

{% if debug %}
PUBLIC CHAT
{% endif %}

<span class="page-num {% if not debug %}d-none{% endif %}" id="id_page_num">1</span>
<div class="shadow-sm mt-3 p-0">
    <div class="card">
        <div class="card-header">
            <div class="d-flex flex-row justify-content-between">
                <h3>Public ProChat</h3>
                <div class="d-flex flex-row align-items-center text-success">
                    <span class="material-icons m-auto pr-2">person_outline</span>
                    <span id="id_connected_user"></span>
                </div>
            </div>
        </div>
        <div class="card-body p-1">
            <div class="col-md-12 col-sm-12 d-flex chat-log" id="id_chat_log">
                        <!-- Public Chat Messages are Here -->
            </div>
            <div class="d-flex chat-message-input-container justify-content-evenly align-items-center">
                <textarea spellcheck="false" class="flex-grow-1 chat-message-input px-2 py-1" id="id_chat_message_input"></textarea>
                
                <span id="id_chat_emoji" class="px-3 d-flex align-items-center justify-content-center material-icons">add_reaction</span>
                
                <span id="id_chat_message_submit" class="px-3 material-icons d-flex align-items-center justify-content-center">send</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" lang="javascript" defer>
    var ws_scheme = window.location.protocol === 'https:' ? 'wss' : 'ws';
    {% if debug_mode %}
    var ws_path = `${ws_scheme}://${window.location.host}/chatpublic/{{room_id}}/`;
    {% else %}
    var ws_path = `${ws_scheme}://${window.location.host}:8001/chatpublic/{{room_id}}/`;
    {% endif %}

    var ws = new WebSocket(ws_path);

    ws.onmessage = function (msg) {
        console.log("Got a Msg: " + msg.data);
        const data = JSON.parse(msg.data);
        
        displayLoadingSpinner(data.is_disp);

        if (data.error) {
            showClientErrorModal(data.message);
        }
        if (data.msg_type == 0) {
            appendChatMsg(data, true, true);
        }
        if (data.msg_type == 1) {
            setConUsrCnt(data.connected_user_count)
        }
        if(data.join) {
            getChatRoomMsg();
            console.log(`${data.username} joined the room`);
        }
        if(data.message_payload) {
            console.log("PayLoad");
            handleMsgPayload(data.message, data.new_page_num);
        }
    }

    ws.addEventListener("open", function (event) {
        console.log("Socket OPEN");
        if ("{{request.user.is_authenticated}}") {
            ws.send(JSON.stringify({
                "command": "join",
                "room_id": "{{room_id}}"
            }));
        }
    });

    ws.onclose = function (event) {
        console.log("Socket CLOSED");
    }

    ws.onopen = function (event) {
        console.log("Socket ON OPEN");
    }

    ws.onerror = function (event) {
        console.log(event);
    }

    if (ws.readyState === WebSocket.OPEN) {
        console.log("Socket OPEN");
    } else if (ws.readyState === WebSocket.CONNECTING) {
        console.log("Socket CONNECTING");
    }

    var txtarea = document.getElementById("id_chat_message_input");
    var subMsgBtn = document.getElementById("id_chat_message_submit");

    txtarea.focus();

    txtarea.onkeyup = function (event) {
        if (event.keyCode == 13 && event.shiftKey) {

        }
        else if (event.keyCode == 13 && !event.shiftKey) {
            subMsgBtn.click();
        }

        subMsgBtn.onclick = function (event) {
            const msg = txtarea.value;
            ws.send(JSON.stringify({
                "command": "send",
                "message": msg,
                "room_id": "{{room_id}}"
            }));
            txtarea.value = "";
        }
    }

    function setPageNum(pageNum) {
        document.getElementById("id_page_num").innerText = pageNum;
    }

    function setPaginationExhaust() { 
        setPageNum("-1");
    }

    function getChatRoomMsg() {
        const pageNum = document.getElementById("id_page_num").innerText;
        if(pageNum != "-1") {
            setPageNum("-1");
            ws.send(JSON.stringify({
                "command": "get_room_chat_msgs",
                "room_id": "{{room_id}}",
                "page_num": pageNum
            }));
        }
    }

    function handleMsgPayload(messages, newPageNum) {
        if(messages != null && messages != "undefined" && messages != "None") {
            setPageNum(newPageNum)
            messages.forEach(function(message) {
                appendChatMsg(message, true, false);
            });
        } 
        else {
            setPaginationExhaust();
        }
    }

    const chatLog = document.getElementById("id_chat_log");
    chatLog.addEventListener("scroll", function(event) {
        if( (Math.abs(chatLog.scrollTop) + 2) >= (chatLog.scrollHeight - chatLog.offsetHeight)) {
            getChatRoomMsg();
        }
    });

    function appendChatMsg(data, maintainPos, isNewMsg) {
        const msg = `${data["message"]}\n`;
        const uname = `@${data["username"]}`;
        const pfimg = `${data["profile_image"]}`;
        const timestamp = `${data['timestamp']}`;
        const msg_id = `${data['msg_id']}`;

        createChatMsgElm(msg, msg_id, uname, pfimg, timestamp, maintainPos, isNewMsg);
    }

    function createChatMsgElm(msg, msg_id, uname, pfimg, timestamp, maintainPos, isNewMsg) {
        const newMsgDiv = document.createElement("div");
        newMsgDiv.setAttribute("class", `d-flex flex-row mt-1`);

        const profileImg = document.createElement("img");
        profileImg.setAttribute("class", "profile-image rounded-circle img-fluid mr-1 mt-1");
        profileImg.src = "{% static 'ProChat/dummy_image.png' %}";
        var profileImgID = `id_profile_image_${msg_id}`;
        profileImg.id = profileImgID;
        profileImg.addEventListener("click", function (event) {
            selectUser(uname.replace("@", ""));
        });

        newMsgDiv.appendChild(profileImg);

        const div1 = document.createElement("div");
        div1.setAttribute("class", "d-flex flex-column align-items-center");
        div1.style.height = "min-content";

        const div2 = document.createElement("div");
        div2.setAttribute("class", "d-flex flex-row");
        div2.style.width = "-webkit-fill-available";

        const unameSpan = document.createElement("span");
        unameSpan.setAttribute("class", ".h6");
        unameSpan.innerHTML = uname;
        unameSpan.addEventListener("click", function (event) {
            selectUser(uname.replace("@", ""));
        });

        div2.appendChild(unameSpan);

        const tsSpan = document.createElement("span");
        tsSpan.innerText = timestamp;
        tsSpan.setAttribute("class", "timestamp-span d-flex align-items-center ml-1");

        div2.appendChild(tsSpan);

        div1.appendChild(div2);


        const msgP = document.createElement("p");
        msgP.innerHTML = validateText(msg);
        msgP.setAttribute("class", "msg-p m-0");

        div1.appendChild(msgP);

        newMsgDiv.appendChild(div1);
        if(isNewMsg)
            chatLog.insertBefore(newMsgDiv, chatLog.firstChild);
        else
            chatLog.appendChild(newMsgDiv);

        if(!maintainPos)
            chatLog.scrollTop = chatLog.scrollHeight;

        preloadImg(pfimg, profileImgID);
    }


    function selectUser(username) {
        const url = "{% url 'account:view' user_id=122123324554 %}".replace("122123324554", username);
        window.open(url, "_blank");
    }


    function showClientErrorModal(message) {
        document.getElementById("id_client_error_modal_body").innerText = message;
        document.getElementById("id_trigger_client_error_modal").click();
    }

    function setConUsrCnt(count) {
        document.getElementById("id_connected_user").innerText = count;
    }

</script>

<!-- Client Error MODAL -->
<button type="button" id="id_trigger_client_error_modal" class="d-none btn btn-primary" data-toggle="modal"
    data-target="#id_client_error_modal">
</button>
<div class="modal fade" id="id_client_error_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Socket Client Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="id_client_error_modal_body">Something went wrong.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    id="id_client_error_modal_close_btn">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Client Error MODAL -->
